.cod-popup-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cod-border: #c6d5e6;

  --cod-text: #000;
  --cod-badge: #fff;
}

body {
  overflow-x: hidden !important;
}

.rtl {
  line-height: 2;
  direction: rtl;
}

.customer-note {
  color: red;
}

.font-semi {
  font-weight: 500;
  margin: 0;
}

.larger {
  font-weight: 600;
  color: var(--cod-text, #000);
  line-height: 2px;
  margin: 0;
}

/* auto fill button */
.auto-fill {
  width: fit-content;
  align-self: flex-end;
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  background: #7762a8;
  color: white;
  font-weight: 600;
}

.message-popup {
  position: fixed;
  inset: 0;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.message-popup.show {
  opacity: 1;
  visibility: visible;
}

.message-box {
  background: white;
  padding: 24px;
  border-radius: 8px;
  min-width: fit-content;
  max-width: 620px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  animation: slideIn 0.3s ease;
}

.message-box.success .message-icon svg {
  display: block;
  fill: green;
}

.message-box.error .message-icon svg {
  display: block;
  fill: red;
}

.message-box.success span,
.message-box.success {
  color: #277b27;
}

.message-box.success button {
  color: #ffffff;
  background: green;
  outline-color: #ffffff;
}

.message-box.success button:hover {
  outline-color: green;
}

.message-box.error button:hover {
  outline-color: red;
}

.message-box.error span,
.message-box.error {
  color: red;
}

.message-box.error button {
  color: #ffffff;
  background: red;
}

.message-box button {
  font-size: 17px;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  outline: 2px solid;
  outline-offset: -6px;
  transition: all 0.3s;
}

.message-box button:active,
.message-box button:focus,
.message-box button:hover {
  outline-offset: 4px;
}

.message-heading {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.cod-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  /* key change */
  justify-content: center;

  padding: 1vh 20px;

  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(12px) saturate(120%);
  overflow-y: auto;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 999;
}

/* ACTIVE STATE */
.cod-popup.active {
  opacity: 1;
  visibility: visible;
}

/* CONTENT BOX */
.cod-popup-content {
  background: #fff;
  padding: 8px 16px;
  border-radius: 12px;
  width: 100%;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ANIMATION */
.cod-popup.active .cod-popup-content {
  transform: translateY(0);
}

#buyNowBtn,
#submitBtn {
  margin-block: 1rem;
}

#submitBtn {
  align-self: center;
}

#submitBtn:hover svg,
#buyNowBtn svg {
  stroke: #fff;
  transition: all 0.3s;
}

#submitBtn svg,
#buyNowBtn:hover svg {
  stroke: #7775d2;
}

.cod-popup-content form {
  display: flex;
  flex-direction: column;
}

.popup-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid var(--cod-border);
}

.popup-title h3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  line-height: normal;
}

.popup-details {
  border: 2px solid var(--cod-border);
  padding: 16px 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.popup-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.popup-details p.larger {
  width: 100%;
  text-align: end;
}

.cod-close {
  cursor: pointer;
  font-size: 1.8rem;
  width: fit-content;
  height: fit-content;
  transition: all 0.3s ease;
}

.cod-close:hover {
  color: #7775d2;
  transform: scale(1.1);
}

.cod-close:active {
  color: #7775d2;
  transform: scale(0.9);
}

.packs-field,
#codOrderForm fieldset {
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;
  margin: 0;
  padding: 4px 0;
}

#codOrderForm fieldset label {
  color: var(--cod-text, #000);
}

.input-with-icon {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  border: 1px solid var(--cod-border);
  transition: all 0.3s;
  border-radius: 8px;
  overflow: hidden;
}

.input-with-icon svg {
  width: fit-content;
  aspect-ratio: 1;
  margin-inline: 10px;
}

/* padding: 12px 10px;  */

#codOrderForm textarea,
#codOrderForm .input-with-icon input {
  flex: 1;
  padding: 12px;
  font-size: 17px;
  border: none;
  outline: none;
  border-left: 1px solid var(--cod-border);
  /* line-height: 2px; */
  width: 100%;
  max-width: 90dvw;
  min-height: 50px;
  max-height: 150px;
}

#codOrderForm .input-with-icon input:focus-visible {
  background: transparent;
}

.input-with-icon:focus-within {
  outline: 2px solid #3b82f6;
  outline-offset: 1px;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
  border-color: #3b82f6;
}

.input-with-icon:hover {
  border-color: #16a221;
}

/* =================Quanitiy Seclectors------------------ */
.pack-offer {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  border: 2px solid var(--cod-pack);
  border-radius: 8px;
  padding: 8px;
  justify-content: space-between;
}

.packs-field {
  gap: 16px;
}

.pack-quantity {
  display: flex;
  gap: 8px;
  align-items: center;
}

.pack-badge {
  position: absolute;
  top: -12px;
  right: 10px;
  background: var(--cod-pack);
  color: var(--cod-badge, #fff);
  padding: 2px 10px 0;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px 0 8px;
}

.mini-badge {
  padding: 1px 8px 0;
  background: var(--cod-pack);
  color: var(--cod-badge, #fff);
  padding: 2px 10px 0;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px 0 12px;
}

.dis-prices {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.dis-prices .total-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #46565e;
}

/* ======================== */
/* new quantity picker styles */
.quantity-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
  margin-bottom: 25px;
}

.q-box {
  position: relative;
  border: 2px solid transparent;
  /* padding: 16px; */
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 4px;
  background: #e0e0e0;
  box-shadow:
    20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.q-box p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
}

.q-box:has(.box-radio:checked) {
  border-color: blue;
}

.q-box img {
  width: auto;
  height: 100%;
  max-height: 100px;
  object-position: center;
  object-fit: cover;
}

.q-box p:not(.dismised) {
  font-size: 17px;
  font-weight: 600;
}

.p-margin {
  /* margin-top: 20px !important; */
  text-align: center;
}

.dismised {
  text-decoration: line-through;
  font-size: 15px;
  opacity: 0.8;
}

.q-badge {
  display: var(--display);
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 4px;
  text-align: center;
}

/* ======================= */
.btn-wobble {
  position: relative;
  animation: wobble 2s infinite ease-in-out;
}

@keyframes wobble {
  0% {
    transform: none;
    transform-origin: center;
  }

  15% {
    transform: translate3d(0, -25%, 0) rotate3d(0, 0, 1, -5deg);
    transform-origin: center;
  }

  30% {
    transform: translate3d(0, 20%, 0) rotate3d(0, 0, 1, 3deg);
    transform-origin: center;
  }

  45% {
    transform: translate3d(0, -15%, 0) rotate3d(0, 0, 1, -3deg);
    transform-origin: center;
  }

  60% {
    transform: translate3d(0, 10%, 0) rotate3d(0, 0, 1, 2deg);
    transform-origin: center;
  }

  75% {
    transform: translate3d(0, -5%, 0) rotate3d(0, 0, 1, -1deg);
    transform-origin: center;
  }

  100% {
    transform: none;
    transform-origin: center;
  }
}

.vibrate {
  animation: vibrate-1 1.3s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}